<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

    <title>SpaceShots.org &mdash; {{ title|safe }}</title>
  </head>
  <body>

    <div id="header">
      <div class="container">
        <h1>SpaceShots.org&mdash; {{ title|safe }}</h1>
        <ul class="header-links pull-right">
            {% for link in links %}
              <li><a href="{{ link.url}}">{{ link.title }}</a></li>
            {% endfor %}
        </ul>
        <hr>
      </div>
    </div>

    <div id="content">
       {% block content %}{% endblock %}
    </div>

    <div id="footer">
        &nbsp;
    </div>

  </body>
</html>
