<div class="row">
  <div id="result">
  </div>
</div>
<div class="row">
    <div id="loadermessage" class="span12" style="display:none;">
        Loading More Images ...
    </div>
</div>
<div id="modalimage" class="modal eolimage">
    <h1>title</h1>
    <a href="#" class="dlink" target="_blank"><img src="" /></a>
    <p></p>
    <a href="javascript:closeImage();">close</a>
</div>
<script>
    var loading = true;
    var i = 0;
    var text = "Loading Images ";
    var anime = function() {
        $("#loadermessage").html(text+Array((++i)+1).join("."));
        if (i > 6) i = 0;
        console.log("animating");
    };
    var intervalid = null;
    var allow_scroll = true;

    start_loading();

    $.post('loader.html', {"set": "{{firstset}}" }, function(data) {
        $('#result').html(data);
        stop_loading();
        text = "Loading More Images "
    });

    function start_loading() {
        loading = true;
        $('#loadermessage').show();
        intervalid = setInterval(anime, 200);
    }

    function stop_loading() {
        loading = false;
        $('#loadermessage').hide();
        clearInterval(intervalid);
        i = 0;
    }

    function get_more() {
        if (allow_scroll) {
            start_loading();
            var lastimg = $('#result div').last().attr("id");
            var set = $('#result h3').last().attr("id");
            console.log(set);
            $.post('loader.html', {"after": lastimg, "set": set}, function(data) {
                $('#result').append(data);
                stop_loading();
            });
        }
    }

    function closeImage() {
        $("#content").unbind('click');
        $('#modalimage').hide();
    }

    function expandImage(mission, roll, frame) {
        var imgsrc = "http://eol.jsc.nasa.gov/sseop/images/ESC/small/"+mission+"/"+mission+"-"+roll+"-"+frame+".jpg";
        var link = "http://eol.jsc.nasa.gov/scripts/sseop/photo.pl?mission="+mission+"&roll="+roll+"&frame="+frame;
        var dl = "http://eol.jsc.nasa.gov/sseop/images/ESC/large/"+mission+"/"+mission+"-"+roll+"-"+frame+".jpg";

        $('#modalimage h1').html(mission+"&ndash;"+roll+"&ndash;"+frame);
        $('#modalimage .dlink').attr("href", dl);
        $('#modalimage img').attr("src", imgsrc);
        $('#modalimage p').html('<a href="'+link+'" target="_blank">EOL page for this image</a><br /><a href="'+dl+'">Download large image</a>');
        
        $("#content").click(function() {
            closeImage();
        });

        $('#modalimage').show();
    }


    $(window).scroll(function(){
        if  ($(window).scrollTop() == $(document).height() - $(window).height()){
            if (!loading) {
                get_more();
            }
        }
    });
</script>

