<div class="row">
  <div id="result">
  </div>
</div>
<div class="row">
    <div id="loadermessage" class="span12 center" style="display:none;">
        Loading More Images ...
    </div>
</div>
<script>
    var loading = true;
    $('#loadermessage').show();

    $.post('loader.html', {"after": 0}, function(data) {
        $('#result').html(data);
        $('#loadermessage').hide();
        loading = false;
    });

    function get_more() {
        $('#loadermessage').show();
        var lastimg = $('#result div').last().attr("id");
        //console.log(lastimg);
        $.post('loader.html', {"after": lastimg}, function(data) {
            $('#result').after(data);
            $('#loadermessage').hide();
            loading = false;
        });
    }

    $(window).scroll(function(){
        if  ($(window).scrollTop() == $(document).height() - $(window).height()){
            if (!loading) {
                loading = true;
                get_more();
            }
        }
    });
</script>

