<div class="row">
  <div id="result">
  </div>
</div>
<div class="row">
    <div id="loadermessage" class="span12" style="display:none;">
        Loading More Images ...
    </div>
</div>
<script>
    var loading = true;
    var i = 0;
    var text = "Loading Images ";
    var anime = function() {
        $("#loadermessage").html(text+Array((++i)+1).join("."));
        if (i > 6) i = 0;
        console.log("animating");
    };
    var intervalid = null;

    start_loading();

    $.post('loader.html', function(data) {
        $('#result').html(data);
        stop_loading();
        text = "Loading More Images "
    });

    function start_loading() {
        loading = true;
        $('#loadermessage').show();
        intervalid = setInterval(anime, 200);
    }

    function stop_loading() {
        loading = false;
        $('#loadermessage').hide();
        clearInterval(intervalid);
        i = 0;
    }

    function get_more() {
        start_loading();
        var lastimg = $('#result div').last().attr("id");
        console.log(lastimg);
        $.post('loader.html', {"after": lastimg}, function(data) {
            $('#result').append(data);
            stop_loading();
        });
    }

    $(window).scroll(function(){
        if  ($(window).scrollTop() == $(document).height() - $(window).height()){
            if (!loading) {
                get_more();
            }
        }
    });
</script>

