<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<div class="wrapper">
 <div id="header">
  <div class="container">
   <h1><a href="http://natronics.github.com">natronics</a> <small>on github.com</small></h1>
   <p>{{ page.title }}<p>
  </div>
 </div>
 <div id="content">
  <div class="container"><div class="row"><div class="span8">
   {{ content }}
  </div></div></div>
 </div>
</div>
 <div id="footer">
  <div class="container">
   <p class="pull-right"><a href="#">Back to top</a></p>
   <p>Made by <a href="http://twitter.com/natronics">@natronics</a> in Portland, Ore.</p>
   <ul class="github-links">
    <li><a href="https://github.com/natronics">my github</a></li>
    <li><a href="https://github.com/natronics/resume">r&eacute;sum&eacute;</a></li>
   </ul>
  </div>
 </div>
</body>
</html>
